@import 'base/base';

$mobileMaxWidth: 640;

body {
  background: $appBgColor;
  overflow-x: hidden;
}

@mixin item-align() {
  min-height: 400px;
  height: 100vh;
}

section.top {
  .item-left {
    @include horz-vert-center();
    @include item-align();
    background: $appSecondaryColor;
    position: relative;
    .image-wrapper {
      text-align: center;
      #app-screenshot-file-explorer {
        max-width: 400px;
        width: 80%;
        height: auto;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
          0 23px 38px 0 rgba(0, 0, 0, 0.43), 0 25px 65px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    }
  }
  .item-right {
    @include horz-vert-center();
    @include item-align();
    background: $appBgColor;

    .desc-wrapper {
      padding: 0 10px 10px 10px;
      line-height: 20px;
      max-width: 500px;

      @media (max-width:#{$mobileMaxWidth}px) {
        text-align: center;
      }

      h1 {
        margin-bottom: 5px;
        font-weight: 400;
        color: $appSecondaryColor;
      }

      .line-1 {
        margin-bottom: 6px;
      }
      .line-2 {
        margin-bottom: 16px;
      }
    }

    .btn-wrapper {
      margin-bottom: 16px;
      .button {
        @media (max-width:#{$mobileMaxWidth}px) {
          display: block;
          width: 250px;
        }
        &.download-btn {
          background-color: transparent;
          color: $appSecondaryColor;
          border-color: $appSecondaryColor;
        }

        &.download-btn:focus,
        &.download-btn:hover {
          background-color: transparent;
          border-color: #606c76;
          color: #606c76;
        }

        &.navigate-to-github {
          background-color: transparent;
          color: black;
          border-color: black;
        }

        &.navigate-to-github:focus,
        &.navigate-to-github:hover {
          background-color: transparent;
          border-color: #606c76;
          color: #606c76;
        }
      }
    }
  }
}
