<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OpenMTP | Android File Transfer for macOS</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="OpenMTP - Advanced Android File Transfer Application for macOS."
    />
    <meta name="keywords" content="openmtp,android,file-transfer,macOS,mtp" />
    <meta name="author" content="Ganesh Rathinavel" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="5 days" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, minimal-ui"
    />
    <link rel="shortcut icon" type="image/png" href="./favicon.ico" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
    />
  </head>
  <body>
    <section class="first">
      <div class="row">
        <div class="column item-left">
          <h1 class="heading">OpenMTP</h1>
          <div
            class="image-wrapper"
            id="app-screenshot-file-explorer-wrapper"
          ></div>
          <p class="latest-version-link">
            Latest Version:
            <strong
              ><span class="github-latest-version-wrapper"
                >Fetching....</span
              ></strong
            >
          </p>
        </div>
        <hr class="divider hidden-nonmobile" />
        <div class="column item-right">
          <div class="mac-window light">
            <div class="titlebar-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54"
                height="14"
                viewBox="0 0 54 14"
              >
                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                  <circle
                    cx="6"
                    cy="6"
                    r="6"
                    fill="#FF5F56"
                    stroke="#E0443E"
                    stroke-width=".5"
                  ></circle>
                  <circle
                    cx="26"
                    cy="6"
                    r="6"
                    fill="#FFBD2E"
                    stroke="#DEA123"
                    stroke-width=".5"
                  ></circle>
                  <circle
                    cx="46"
                    cy="6"
                    r="6"
                    fill="#27C93F"
                    stroke="#1AAB29"
                    stroke-width=".5"
                  ></circle>
                </g>
              </svg>
            </div>
            <div class="body-wrapper">
              <div class="desc-wrapper">
                <h1 class="heading">OpenMTP</h1>
                <h4>Advanced Android File Transfer Application for macOS.</h4>
                <p class="line-1">
                  Transferring files between macOS and Android Devices has
                  always been a nightmare. <strong>But not anymore!</strong>
                </p>
                <p class="line-2">
                  OpenMTP shall always stay FREE and open to all!
                </p>
                <p class="latest-version-link">
                  Latest Version:
                  <strong
                    ><span class="github-latest-version-wrapper"
                      >Fetching....</span
                    ></strong
                  >
                </p>
              </div>
              <div class="btn-wrapper">
                <button
                  class="button button-outline download-btn"
                  id="download-btn-github"
                >
                  Download
                </button>
                <button
                  class="button button-outline navigate-to-github"
                  id="navigate-to-github"
                >
                  GitHub
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="second">
      <div class="row">
        <div class="column item-left">
          <div
            class="image-wrapper"
            id="app-screenshot-file-transfer-wrapper"
          ></div>
        </div>
        <hr class="divider hidden-nonmobile" />
        <div class="column item-right">
          <div class="desc-wrapper">
            <div class="feature-lists">
              <ul>
                <li>
                  <span
                    >Plug and Play. No hassles, easy and instant
                    connection.</span
                  >
                </li>

                <li>
                  <span>
                    Connected via USB cable, hence providing the highest data
                    transfer rates possible.
                  </span>
                </li>

                <li><span>Transfer files which are larger than 4GB.</span></li>

                <li><span>Grid and List views are available.</span></li>

                <li>
                  <span
                    >Transparent, OpenSource and we care for your privacy.</span
                  >
                </li>

                <li><span>It's FREE and shall ALWAYS remain FREE!!</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer><!--<div class="links-wrapper"></div>--></footer>
  </body>
</html>
