<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131227413-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-131227413-2');
    </script>
    <!--/Global site tag (gtag.js) - Google Analytics -->
    <title>OpenMTP | Android File Transfer for macOS</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="OpenMTP - Advanced Android File Transfer Application for macOS."
    />
    <meta name="keywords" content="openmtp,android,file-transfer,macOS,mtp" />
    <meta name="author" content="Ganesh Rathinavel" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="5 days" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, minimal-ui"
    />
    <meta property="fb:app_id" content="288335555210457" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ganeshrvel.github.io/openmtp/" />
    <meta
      property="og:title"
      content="OpenMTP - Advanced Android File Transfer Application for macOS."
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ganeshrvel/openmtp/master/blobs/images/file-transfer-large.png?ver=2"
    />
    <meta
      property="og:description"
      content="Tired of using expensive, outdated, bug heavy, Android File Transfer apps for macOS? Try OpenMTP. It's Safe, Transparent, Open-Source and FREE for a lifetime!"
    />

    <link rel="shortcut icon" type="image/png" href="./favicon.ico" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
    />
    <meta name="msvalidate.01" content="832ED91ADB06B22AF7C294B1627EBB21" />
    <meta name="google-site-verification" content="ERgD6-pMcmQm9mZ6KfrdC33cv9Y3q1NWO-E8Szf_jN4" />
  </head>
  <body>
    <section class="first">
      <div class="row">
        <div class="column item-left">
          <h1 class="heading">OpenMTP</h1>
          <div class="image-wrapper" id="app-screenshot-file-explorer-wrapper">
            <div class="spinner">Loading...</div>
          </div>
        </div>
        <div class="column item-right">
          <div class="mac-window light">
            <div class="titlebar-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54"
                height="14"
                viewBox="0 0 54 14"
              >
                <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                  <circle
                    cx="6"
                    cy="6"
                    r="6"
                    fill="#FF5F56"
                    stroke="#E0443E"
                    stroke-width=".5"
                  ></circle>
                  <circle
                    cx="26"
                    cy="6"
                    r="6"
                    fill="#FFBD2E"
                    stroke="#DEA123"
                    stroke-width=".5"
                  ></circle>
                  <circle
                    cx="46"
                    cy="6"
                    r="6"
                    fill="#27C93F"
                    stroke="#1AAB29"
                    stroke-width=".5"
                  ></circle>
                </g>
              </svg>
            </div>
            <div class="body-wrapper">
              <div class="desc-wrapper">
                <h1 class="heading">OpenMTP</h1>
                <h4>Advanced Android File Transfer App for macOS</h4>
                <p class="line-1">
                  Tired of using expensive, outdated, bug heavy, Android File
                  Transfer apps for macOS?
                </p>
                <p class="line-1">
                  Now, have easy, smooth sailing experience and transfer
                  multiple files in one go!
                </p>
                <p class="line-1">
                  Introducing OpenMTP -
                  <strong
                    >Safe, Transparent, Open-Source and FREE for a
                    lifetime!</strong
                  >
                </p>
                <p class="latest-version-link">
                  Latest Version:
                  <strong
                    ><span class="github-latest-version-wrapper"
                      >Fetching....</span
                    ></strong
                  >
                </p>
              </div>
              <div class="btn-wrapper">
                <button
                  class="button button-outline download-btn"
                  id="download-btn-github"
                >
                  Download
                </button>
                <button
                  class="button button-outline navigate-to-github"
                  id="navigate-to-github"
                >
                  GitHub
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="second">
      <div class="row">
        <div class="column item-left">
          <div class="image-wrapper" id="app-screenshot-file-transfer-wrapper">
            <div class="spinner">Loading...</div>
          </div>
        </div>
        <div class="column item-right">
          <div class="desc-wrapper">
            <div class="feature-lists">
              <ul>
                <li><span>Plug and Play. Easy and instant connection</span></li>

                <li>
                  <span>
                    Connect via USB cable - Highest data transfer rates
                  </span>
                </li>

                <li>
                  <span>Transfer multiple files larger than 4GB in one go</span>
                </li>

                <li><span>Drag 'n Drop your files</span></li>

                <li><span>Choose between Grid and List view</span></li>

                <li>
                  <span
                    >Use Keyboard Shortcuts to navigate through your files</span
                  >
                </li>

                <li><span>Safe, Transparent and Open-Source</span></li>

                <li><span>It's FREE and shall ALWAYS remain FREE!</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-wrapper">
        <div class="mac-window dark">
          <div class="titlebar-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="54"
              height="14"
              viewBox="0 0 54 14"
            >
              <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <circle
                  cx="6"
                  cy="6"
                  r="6"
                  fill="#FF5F56"
                  stroke="#E0443E"
                  stroke-width=".5"
                ></circle>
                <circle
                  cx="26"
                  cy="6"
                  r="6"
                  fill="#FFBD2E"
                  stroke="#DEA123"
                  stroke-width=".5"
                ></circle>
                <circle
                  cx="46"
                  cy="6"
                  r="6"
                  fill="#27C93F"
                  stroke="#1AAB29"
                  stroke-width=".5"
                ></circle>
              </g>
            </svg>
          </div>
          <div class="body-wrapper">
            <div class="syntax-highlighter">
              <pre
                class="syntax-highlighter-wrapper"
              ><span class="syntax-highlighter-keyword">const</span> AUTHOR = <span class="syntax-highlighter-string">'<a href="https://www.linkedin.com/in/ganeshrvel" target="_blank">Ganesh Rathinavel</a>'</span>;
<span class="syntax-highlighter-keyword">const</span> LICENSE = <span class="syntax-highlighter-string">'<a href="https://github.com/ganeshrvel/openmtp/blob/master/LICENSE" target="_blank">MIT</a>'</span>;
<span class="syntax-highlighter-keyword">const</span> PRICE = <span class="syntax-highlighter-string">'FREE'</span>;
<span class="syntax-highlighter-keyword">const</span> SYSTEM_REQUIREMENTS = <span class="syntax-highlighter-string">'macOS v10.10 or higher'</span>;
<span class="syntax-highlighter-keyword">const</span> GITHUB_URL = <span class="syntax-highlighter-string">'<a href="https://github.com/ganeshrvel/openmtp" target="_blank">https://github.com/ganeshrvel/openmtp</a>'</span>;
<span class="syntax-highlighter-keyword">const</span> GITHUB_RELEASES_URL = <span class="syntax-highlighter-string">'<a href="https://github.com/ganeshrvel/openmtp/releases" target="_blank">https://github.com/ganeshrvel/openmtp/releases</a>'</span>;
<span class="syntax-highlighter-keyword">const</span> BUY_ME_A_COFFEE = <span class="syntax-highlighter-string">'<a href="https://paypal.me/ganeshrvel" target="_blank">paypal.me/ganeshrvel</a>'</span>;
<span class="syntax-highlighter-keyword">const</span> CONTACT_US = <span class="syntax-highlighter-string">'<a href="mailto:ganeshrvel@outlook.com">ganeshrvel@outlook.com</a>'</span>;
<span class="syntax-highlighter-keyword">const</span> COPYRIGHT = <span class="syntax-highlighter-string">'2018-Present Ganesh Rathinavel'</span>;
<span class="syntax-highlighter-keyword">const</span> PRIVACY_POLICY = '<span class="syntax-highlighter-string"><a href="privacy.html" target="_blank">privacy.html</a></span>';</pre>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
