.backButton {
  position: absolute;
}

.demoFetch {
  font-size: 10px;
}

.counter {
  font-size: 5rem;
  font-weight: bold;
}

.bodyWrapper {
  text-align: center;
  max-width: 480px;
  padding-top: 180px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}
