        <div id="supported-devices" class="footer-devices">
          <h2 class="footer-devices-title">
            A few of the many devices that work with OpenMTP
          </h2>
          <ul class="device-cloud">
            <li class="device-chip device-chip-xl">Samsung</li>
            <li class="device-chip device-chip-sm">Galaxy S23 Ultra</li>
            <li class="device-chip device-chip-sm">Kindle Scribe</li>
            <li class="device-chip device-chip-md">INNIOASIS</li>
            <li class="device-chip device-chip-xl">Google Pixel</li>
            <li class="device-chip device-chip-sm">Fenix 8</li>
            <li class="device-chip device-chip-lg">Amazon Kindle</li>
            <li class="device-chip device-chip-sm">Quest 3</li>
            <li class="device-chip device-chip-sm">TIMMKOO Q5</li>
            <li class="device-chip device-chip-lg">Xiaomi</li>
            <li class="device-chip device-chip-md">Monophone</li>
            <li class="device-chip device-chip-sm">Galaxy A53</li>
            <li class="device-chip device-chip-sm">Edge 1050</li>
            <li class="device-chip device-chip-xl">Garmin</li>
            <li class="device-chip device-chip-sm">Kindle Paperwhite</li>
            <li class="device-chip device-chip-sm">Pixel 8</li>
            <li class="device-chip device-chip-lg">OnePlus</li>
            <li class="device-chip device-chip-md">Supernote</li>
            <li class="device-chip device-chip-sm">INNIOASIS G1</li>
            <li class="device-chip device-chip-sm">Forerunner 955</li>
            <li class="device-chip device-chip-lg">Fujifilm</li>
            <li class="device-chip device-chip-sm">Quest 2</li>
            <li class="device-chip device-chip-sm">Galaxy S24+</li>
            <li class="device-chip device-chip-md">TIMMKOO</li>
            <li class="device-chip device-chip-xl">Meta Quest</li>
            <li class="device-chip device-chip-sm">Fujifilm X Series</li>
            <li class="device-chip device-chip-sm">Venu 3</li>
            <li class="device-chip device-chip-lg">DJI</li>
            <li class="device-chip device-chip-sm">Kindle Colorsoft</li>
            <li class="device-chip device-chip-lg">Motorola</li>
            <li class="device-chip device-chip-md">FiiO</li>
            <li class="device-chip device-chip-sm">Edge Explore 2</li>
            <li class="device-chip device-chip-lg">Redmi</li>
            <li class="device-chip device-chip-sm">DJI RC 2</li>
            <li class="device-chip device-chip-sm">Quest Pro</li>
            <li class="device-chip device-chip-lg">Sony</li>
            <li class="device-chip device-chip-sm">Pixel 8 Pro</li>
            <li class="device-chip device-chip-md">Fanvace</li>
            <li class="device-chip device-chip-sm">INNIOASIS G3</li>
            <li class="device-chip device-chip-xl">Android</li>
            <li class="device-chip device-chip-sm">Edge 1040</li>
            <li class="device-chip device-chip-sm">Fujifilm GFX</li>
            <li class="device-chip device-chip-lg">GoPro</li>
            <li class="device-chip device-chip-sm">Galaxy Z Fold</li>
            <li class="device-chip device-chip-lg">BOOX</li>
            <li class="device-chip device-chip-sm">TIMMKOO MX2</li>
            <li class="device-chip device-chip-md">HiBy</li>
            <li class="device-chip device-chip-sm">Quest 3S</li>
            <li class="device-chip device-chip-lg">Fairphone</li>
            <li class="device-chip device-chip-sm">DJI RC Pro</li>
            <li class="device-chip device-chip-sm">Walkman NW-A306</li>
            <li class="device-chip device-chip-lg">Huawei</li>
            <li class="device-chip device-chip-sm">Pixel 7 Pro</li>
            <li class="device-chip device-chip-md">iBasso</li>
            <li class="device-chip device-chip-sm">Supernote Manta</li>
            <li class="device-chip device-chip-lg">OPPO</li>
            <li class="device-chip device-chip-sm">Galaxy Z Flip</li>
            <li class="device-chip device-chip-sm">Fujifilm X-H2</li>
            <li class="device-chip device-chip-lg">vivo</li>
            <li class="device-chip device-chip-sm">Forerunner 255 Music</li>
            <li class="device-chip device-chip-md">Shanling</li>
            <li class="device-chip device-chip-sm">INNIOASIS G5</li>
            <li class="device-chip device-chip-lg">realme</li>
            <li class="device-chip device-chip-sm">DJI RC</li>
            <li class="device-chip device-chip-sm">Galaxy S20 Ultra</li>
            <li class="device-chip device-chip-lg">Honor</li>
            <li class="device-chip device-chip-sm">Vivoactive 4</li>
            <li class="device-chip device-chip-md">Astell&amp;Kern</li>
            <li class="device-chip device-chip-sm">Supernote Nomad</li>
            <li class="device-chip device-chip-lg">Nokia</li>
            <li class="device-chip device-chip-sm">Moto G</li>
            <li class="device-chip device-chip-sm">FiiO M11</li>
            <li class="device-chip device-chip-lg">Lenovo</li>
            <li class="device-chip device-chip-sm">Fanvace M32</li>
            <li class="device-chip device-chip-md">Teclast</li>
            <li class="device-chip device-chip-sm">Pixel 6 Pro</li>
            <li class="device-chip device-chip-lg">ASUS</li>
            <li class="device-chip device-chip-sm">DJI RC Pro 2</li>
            <li class="device-chip device-chip-sm">Galaxy S10+</li>
            <li class="device-chip device-chip-md">Activo</li>
            <li class="device-chip device-chip-sm">Garmin MARQ</li>
            <li class="device-chip device-chip-sm">TIMMKOO Q3E</li>
            <li class="device-chip device-chip-sm">Huawei P30 Pro</li>
            <li class="device-chip device-chip-sm">Walkman NW-A105</li>
            <li class="device-chip device-chip-sm">Fairphone 5</li>
            <li class="device-chip device-chip-sm">Galaxy Note 10+</li>
            <li class="device-chip device-chip-sm">Supernote A5 X</li>
            <li class="device-chip device-chip-sm">DJI RC-N3</li>
            <li class="device-chip device-chip-sm">Fenix 7</li>
            <li class="device-chip device-chip-sm">Motorola Edge</li>
            <li class="device-chip device-chip-sm">HiBy R4</li>
            <li class="device-chip device-chip-sm">GoPro HERO</li>
            <li class="device-chip device-chip-sm">INNIOASIS SR1</li>
            <li class="device-chip device-chip-sm">Galaxy S23+</li>
            <li class="device-chip device-chip-sm">Garmin Edge 840</li>
            <li class="device-chip device-chip-sm">Supernote A6 X</li>
            <li class="device-chip device-chip-sm">Motorola Razr</li>
            <li class="device-chip device-chip-sm">Fairphone 6</li>
            <li class="device-chip device-chip-sm">Galaxy S4</li>
            <li class="device-chip device-chip-sm">iBasso DX180</li>
            <li class="device-chip device-chip-sm">Teclast P85T</li>
            <li class="device-chip device-chip-sm">DJI Mini 5 Pro controller</li>
            <li class="device-chip device-chip-sm">iGUIDE PLANIX R1</li>
            <li class="device-chip device-chip-sm">Sony Xperia</li>
            <li class="device-chip device-chip-sm">Galaxy S25</li>
            <li class="device-chip device-chip-sm">Fenix 6</li>
            <li class="device-chip device-chip-md">Topdon</li>
            <li class="device-chip device-chip-sm">Kindle (11th gen)</li>
            <li class="device-chip device-chip-sm">Oculus Quest</li>
            <li class="device-chip device-chip-sm">Forerunner 945</li>
            <li class="device-chip device-chip-sm">Galaxy S22</li>
            <li class="device-chip device-chip-sm">Fujifilm X-T</li>
            <li class="device-chip device-chip-sm">DJI RC-N2</li>
            <li class="device-chip device-chip-sm">Supernote A5</li>
            <li class="device-chip device-chip-sm">Vivoactive 3 Music</li>
            <li class="device-chip device-chip-sm">Android tablets</li>
            <li class="device-chip device-chip-sm">Galaxy S21</li>
            <li class="device-chip device-chip-sm">Forerunner 645 Music</li>
            <li class="device-chip device-chip-sm">FiiO X series</li>
            <li class="device-chip device-chip-sm">Fenix 5 Plus</li>
            <li class="device-chip device-chip-sm">DJI RC-N1</li>
            <li class="device-chip device-chip-sm">Galaxy S23</li>
            <li class="device-chip device-chip-sm">Forerunner 745</li>
            <li class="device-chip device-chip-sm">HiBy R1</li>
            <li class="device-chip device-chip-sm">Supernote A6</li>
            <li class="device-chip device-chip-sm">Vivoactive 4S</li>
            <li class="device-chip device-chip-sm">Fairphone 3</li>
            <li class="device-chip device-chip-sm">Forerunner 245 Music</li>
            <li class="device-chip device-chip-sm">Garmin Venu</li>
            <li class="device-chip device-chip-sm">Galaxy A Series</li>
            <li class="device-chip device-chip-sm">Pixel 9</li>
            <li class="device-chip device-chip-sm">BOOX Note Series</li>
            <li class="device-chip device-chip-sm">Garmin Fenix Series</li>
            <li class="device-chip device-chip-sm">Fujifilm X-T Series</li>
            <li class="device-chip device-chip-sm">Moto G Series</li>
            <li class="device-chip device-chip-sm">Galaxy Note Series</li>
            <li class="device-chip device-chip-sm">Pixel 9 Pro</li>
            <li class="device-chip device-chip-sm">BOOX Tab Series</li>
            <li class="device-chip device-chip-sm">Garmin Forerunner Series</li>
            <li class="device-chip device-chip-sm">Fujifilm GFX Series</li>
            <li class="device-chip device-chip-sm">Motorola Edge Series</li>
            <li class="device-chip device-chip-sm">Galaxy Z Series</li>
            <li class="device-chip device-chip-sm">Pixel 9 Pro XL</li>
            <li class="device-chip device-chip-sm">BOOX Palma</li>
            <li class="device-chip device-chip-sm">Garmin Venu Series</li>
            <li class="device-chip device-chip-sm">FiiO Android DAPs</li>
            <li class="device-chip device-chip-sm">Motorola Razr Series</li>
            <li class="device-chip device-chip-sm">Pixel 10</li>
            <li class="device-chip device-chip-sm">Garmin Vivoactive Series</li>
            <li class="device-chip device-chip-sm">Shanling Android DAPs</li>
            <li class="device-chip device-chip-sm">Pixel 7</li>
            <li class="device-chip device-chip-sm">Kindle Paperwhite 12th Gen</li>
            <li class="device-chip device-chip-sm">Astell&amp;Kern Android DAPs</li>
            <li class="device-chip device-chip-sm">Pixel 6</li>
            <li class="device-chip device-chip-sm">Activo Android DAPs</li>
            <li class="device-chip device-chip-sm">Galaxy A14</li>
            <li class="device-chip device-chip-sm">Galaxy A15</li>
            <li class="device-chip device-chip-sm">Galaxy A25</li>
            <li class="device-chip device-chip-sm">Galaxy A34</li>
            <li class="device-chip device-chip-sm">Galaxy A35</li>
            <li class="device-chip device-chip-sm">Galaxy A54</li>
            <li class="device-chip device-chip-sm">Galaxy A55</li>
            <li class="device-chip device-chip-sm">Galaxy S21 Ultra</li>
            <li class="device-chip device-chip-sm">Galaxy S22 Ultra</li>
            <li class="device-chip device-chip-sm">Galaxy S24</li>
            <li class="device-chip device-chip-sm">Galaxy S24 Ultra</li>
            <li class="device-chip device-chip-sm">Galaxy S25 Ultra</li>
            <li class="device-chip device-chip-sm">Galaxy Note 9</li>
            <li class="device-chip device-chip-sm">Galaxy Note 20 Ultra</li>
            <li class="device-chip device-chip-sm">Galaxy Z Fold 5</li>
            <li class="device-chip device-chip-sm">Galaxy Z Fold 6</li>
            <li class="device-chip device-chip-sm">Galaxy Z Flip 5</li>
            <li class="device-chip device-chip-sm">Galaxy Z Flip 6</li>
            <li class="device-chip device-chip-sm">Galaxy Tab S9</li>
            <li class="device-chip device-chip-sm">Pixel 6a</li>
            <li class="device-chip device-chip-sm">Pixel 7a</li>
            <li class="device-chip device-chip-sm">Pixel 8a</li>
            <li class="device-chip device-chip-sm">Pixel 9a</li>
            <li class="device-chip device-chip-sm">Pixel 10 Pro</li>
            <li class="device-chip device-chip-sm">Pixel Fold</li>
            <li class="device-chip device-chip-sm">Pixel Tablet</li>
            <li class="device-chip device-chip-sm">Moto G Power</li>
            <li class="device-chip device-chip-sm">Moto G Stylus</li>
            <li class="device-chip device-chip-sm">Motorola Edge 50 Pro</li>
            <li class="device-chip device-chip-sm">Motorola Razr+</li>
            <li class="device-chip device-chip-sm">BOOX Note Air</li>
            <li class="device-chip device-chip-sm">BOOX Tab Ultra</li>
            <li class="device-chip device-chip-sm">BOOX Go</li>
            <li class="device-chip device-chip-sm">BOOX Leaf</li>
            <li class="device-chip device-chip-sm">BOOX Page</li>
            <li class="device-chip device-chip-sm">Kindle Oasis</li>
            <li class="device-chip device-chip-sm">Fenix 7 Pro</li>
            <li class="device-chip device-chip-sm">Garmin Epix Pro</li>
            <li class="device-chip device-chip-sm">Forerunner 165</li>
            <li class="device-chip device-chip-sm">Forerunner 265</li>
            <li class="device-chip device-chip-sm">Forerunner 965</li>
            <li class="device-chip device-chip-sm">Venu 2</li>
            <li class="device-chip device-chip-sm">Vivoactive 5</li>
            <li class="device-chip device-chip-sm">Edge 540</li>
            <li class="device-chip device-chip-sm">Edge 1030</li>
            <li class="device-chip device-chip-sm">Fujifilm X-T4</li>
            <li class="device-chip device-chip-sm">Fujifilm X-T5</li>
            <li class="device-chip device-chip-sm">Fujifilm X-S20</li>
            <li class="device-chip device-chip-sm">Fujifilm X-H2S</li>
            <li class="device-chip device-chip-sm">Fujifilm X100VI</li>
            <li class="device-chip device-chip-sm">Fujifilm GFX100 II</li>
            <li class="device-chip device-chip-sm">Fujifilm GFX50S II</li>
            <li class="device-chip device-chip-sm">GoPro HERO 10</li>
            <li class="device-chip device-chip-sm">GoPro HERO 11</li>
            <li class="device-chip device-chip-sm">GoPro HERO 12</li>
            <li class="device-chip device-chip-sm">GoPro HERO 13</li>
            <li class="device-chip device-chip-sm">FiiO M11 Plus</li>
            <li class="device-chip device-chip-sm">FiiO M15</li>
            <li class="device-chip device-chip-sm">FiiO M17</li>
            <li class="device-chip device-chip-sm">FiiO M21</li>
            <li class="device-chip device-chip-sm">Shanling M6</li>
            <li class="device-chip device-chip-sm">Shanling M7</li>
            <li class="device-chip device-chip-sm">Astell&amp;Kern SP3000</li>
            <li class="device-chip device-chip-sm">Activo P1</li>
          </ul>
          <p class="footer-devices-text">
            OpenMTP transfers files between your Mac and Android phones and
            tablets, Garmin watches and cycling computers, Meta Quest VR
            headsets, Kindle, BOOX and Supernote e-readers, Fujifilm and GoPro
            cameras, DJI controllers, MTP music players and voice recorders.
            It works with any device that shares its storage over MTP, though
            individual models can vary with the manufacturer's MTP
            implementation.
            <a href="/how-to-connect-devices.html"
              >How to connect your device to OpenMTP</a
            >.
          </p>
        </div>