// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$roboto: 'Roboto', sans-serif;

// ----------------------------------------------------------------------
// styles
// ----------------------------------------------------------------------
$appBgColor: #ffffff !default;

$appSecondaryColor: #007af5 !default;

$nativeSystemColor: #ececec !default;
