@import 'base/base';

$mobileMaxWidth: 639;
$tabletMinWidth: 640;

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: $appSecondaryColor;
}

@mixin item-align() {
  min-height: 400px;
  height: 100vh;
}

section.first {
  .item-left {
    @include horz-vert-center();
    @include item-align();
    background: linear-gradient(45deg, $appSecondaryColor 0%, #0080ff 100%);
    position: relative;

    @media (max-width:#{$mobileMaxWidth}px) {
      h1.heading {
        margin-bottom: 45px;
        font-weight: 400;
        color: $appBgColor;
      }
      p.latest-version-link {
        margin-top: 45px;
        color: $appBgColor;
      }
      .github-latest-version-wrapper {
        a {
          color: $appBgColor;
          text-decoration: underline;
        }
      }
    }
    @media (min-width:#{$tabletMinWidth}px) {
      h1.heading,
      p.latest-version-link {
        display: none;
      }
    }

    .image-wrapper {
      text-align: center;
      #app-screenshot-file-explorer {
        max-width: 400px;
        width: 80%;
        height: auto;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
          0 23px 38px 0 rgba(0, 0, 0, 0.43), 0 25px 65px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    }
  }
  .item-right {
    @include horz-vert-center();
    @include item-align();
    background: $appBgColor;

    .desc-wrapper {
      padding: 0 10px 0 10px;
      line-height: 20px;
      max-width: 500px;

      h1.heading {
        margin-bottom: 10px;
        font-weight: 500;
        color: $appSecondaryColor;
      }

      @media (max-width:#{$mobileMaxWidth}px) {
        text-align: center;

        h1.heading {
          margin-bottom: 10px;
          font-size: 3rem;
          font-weight: 500;
        }
      }

      .line-1 {
        margin-bottom: 6px;
      }
      .line-2 {
        margin-bottom: 16px;
      }
    }

    .btn-wrapper {
      margin-bottom: 16px;
      .button {
        @media (max-width:#{$mobileMaxWidth}px) {
          display: block;
          width: 250px;
        }
        &.download-btn {
          background-color: transparent;
          color: $appSecondaryColor;
          border-color: $appSecondaryColor;
        }

        &.download-btn:focus,
        &.download-btn:hover {
          background-color: transparent;
          border-color: #606c76;
          color: #606c76;
        }

        &.navigate-to-github {
          background-color: transparent;
          color: black;
          border-color: black;
        }

        &.navigate-to-github:focus,
        &.navigate-to-github:hover {
          background-color: transparent;
          border-color: #606c76;
          color: #606c76;
        }
      }
    }
  }
}

section.second {
  .item-right {
    @include horz-vert-center();
    @include item-align(); //
    background: linear-gradient(45deg, #263238 0%, #435b71 100%);
    position: relative;

    .image-wrapper {
      text-align: center;
      #app-screenshot-file-transfer {
        max-width: 400px;
        width: 80%;
        height: auto;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3),
          0 23px 38px 0 rgba(0, 0, 0, 0.43), 0 25px 65px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    }
  }
  .item-left {
    @include horz-vert-center();
    @include item-align();
    background: #eeeeee;

    .desc-wrapper {
      padding: 0 20px 0 20px;
      line-height: 20px;
      max-width: 500px;

      .feature-lists {
        cursor: default;
        li {
          display: inline-block;
        }
        li,
        span {
          float: left;
          line-height: 24px;
          position: relative;
          font-size: 15px;
          transition: background-color 1.5s ease;
        }

        span {
          padding: 5px 60px 5px 12px;
          background: $appSecondaryColor;
          color: #fff;
          text-decoration: none;
          -moz-border-radius: 0 8px 8px 0;
          -webkit-border-radius: 0 8px 8px 0;
          border-radius: 0 8px 8px 0;
          -moz-box-shadow: 0 0 2px #004977;
          -webkit-box-shadow: 0 0 2px #004977;
          box-shadow: 0 0 2px #004977;

          &:after {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            content: '';
            position: absolute;
            left: -5px;
            float: left;
            width: 10px;
            height: 10px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 20px;
            background: #fff;
            -moz-box-shadow: -1px -1px 2px #004977;
            -webkit-box-shadow: -1px -1px 2px #004977;
            box-shadow: -1px -1px 2px #004977;
          }

          &:hover {
            background: #555;
          }

          &:hover:before {
            border-color: transparent $appSecondaryColor transparent transparent;
          }
        }
      }
    }
  }
}
