// ----------------------------------------------------------------------

  // Flex Align Items

// ----------------------------------------------------------------------


@mixin align-items($value) {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
    -webkit-align-items: $value;
    align-items: $value;
}
