// ----------------------------------------------------------------------

// Medium Font

// ----------------------------------------------------------------------

// example @include medium-font();

@mixin medium-font() {
  font-weight: bold;
  letter-spacing: 0.4px;
}
