//------ SASS Useful Mixins ---------------------------------------------

// by Ryan Burgess
// https://github.com/ryanburgess/SASS-Useful-Mixins
// MIT © Ryan Burgess

// ----------------------------------------------------------------------

  // Single Transform

// ----------------------------------------------------------------------

// example: @include flat-button($greyBlue, white, 5px 15px);

@mixin single-transform($deg) {
      -ms-transform:rotate($deg);
  -webkit-transform:rotate($deg);
          transform:rotate($deg);
}